:root {
  --bg-color: #FAF7FD;
  --color-primary: #BB99DD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  height: 100vh;
}

main {
  width: 326px;
}

.profile {
  margin-bottom: 32px;
  text-align: center;
}

.profile img {
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  padding: 6px;
}

.profile p {
  color: var(--color-primary);
  font-weight: 300;
}

.list-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}

.list-links .item {
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  padding-block: 12px;
}

.list-links .link {
  color: var(--color-primary);
  font-weight: 600;
}

.profile-links {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 29px;
  margin-top: 68px;
}
